.clearfix{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

.border-1px {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(7, 17, 27, .1);
  }
}

.font {
  font-weight: $font-weigth;
  line-height: 12px;
}
